absl-py==0.11.0
alabaster==0.7.12
appdirs==1.4.4
astor==0.8.1
Babel==2.8.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
cachetools==3.1.1
certifi==2020.6.20
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
cypari==2.4.0
Cython==0.29.14
decorator==4.4.2
distlib==0.3.1
docutils==0.16
enum34==1.1.10
filelock==3.0.12
funcsigs==1.0.2
furl==2.1.0
FXrays==1.3.3
gast==0.2.2
glog==0.3.1
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.16
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==3.3.0
ipython==5.10.0
ipython-genutils==0.2.0
Jinja2==2.11.2
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lab==5.5
Lasagne==0.1
leveldb==0.201
lmdb==1.0.0
Mako==1.1.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5
mock==3.0.5
nagios-nvidia-smi-plugin==0.4.0
nagiosplugin==1.3.2
networkx==2.2
nose==1.3.7
numpy==1.16.6
oauthlib==3.1.0
opt-einsum==2.3.2
orderedmultidict==1.0.1
packaging==20.4
palettable==3.3.0
path.py==11.5.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
plink==2.3.1
prompt-toolkit==1.0.18
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyboost==0.1.dev18
pycuda==2019.1.2
pydot-ng==2.0.0
Pygments==2.5.2
pyparsing==2.4.7
pypng==0.0.20
python-dateutil==2.8.1
python-gflags==3.1.2
pytools==2020.2
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.5
scandir==1.10.0
scikit-cuda==0.5.3
scikit-learn==0.20.4
scipy==1.2.2
setuptools-scm==4.1.2
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
snappy==2.8
snappy-manifolds==1.1.2
snowballstemmer==2.0.0
soupsieve==1.9.6
spherogram==1.8.3
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
tensorboard==2.1.0
tensorboardX
termcolor==1.1.0
torch==1.7.1+cu110
torchvision==0.8.2+cu110
traitlets==4.3.3
txt2tags==3.7
typing==3.7.4.3
urllib3==1.25.11
virtualenv
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zetup==0.2.64
zipp==1.2.0
