absl-py==0.11.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
Babel==2.8.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
bleach==5.0.0
cachetools==3.1.1
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
copulas==0.6.1
core-models==1.0
ctgan==0.5.1
cycler==0.10.0
cypari==2.4.0
decorator==4.4.2
deepecho==0.3.0.post1
defusedxml==0.7.1
distlib==0.3.1
docutils==0.16
entrypoints==0.4
executing==0.8.3
Faker==9.9.1
fastjsonschema==2.15.3
filelock==3.0.12
folktables==0.0.11
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.3.0
furl==2.1.0
future==0.18.2
FXrays==1.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
graphviz==0.20
grpcio==1.33.2
gurobipy==9.5.1
h5py==2.10.0
idna==2.10
imageio==2.19.1
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==3.3.0
ipykernel==5.5.6
ipython==8.2.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.2.0
jupyter-core==4.9.2
jupyter-server==1.16.0
jupyterlab==3.3.3
jupyterlab-launcher==0.11.2
jupyterlab-pygments==0.2.0
jupyterlab-server==2.12.0
kiwisolver==1.1.0
llvmlite==0.38.0
Mako==1.1.3
Markdown==3.1.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.2
nagiosplugin==1.3.2
nbclassic==0.3.7
nbclient==0.5.11
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.2
notebook==6.4.10
notebook-shim==0.1.0
numba==0.55.1
numpy==1.21.6
oauthlib==3.1.0
orderedmultidict==1.0.1
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
path.py==11.5.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==2.5.1
plink==2.3.1
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.13.0
psutil==5.9.0
ptyprocess==0.6.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyboost==0.1.dev18
pycparser==2.21
pycuda==2019.1.2
pyDeprecate==0.3.2
pydot-ng==2.0.0
Pygments==2.5.2
pyparsing==3.0.7
pypng==0.0.20
pyrsistent==0.18.1
python-dateutil==2.8.1
python-gflags==3.1.2
python-snappy==0.6.1
pytools==2020.2
pytorch-lightning==1.6.3
pyts==0.12.0
pytz==2020.1
PyYAML==5.4.1
pyzmq==22.3.0
rdt==0.6.4
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.5
scandir==1.10.0
scikit-cuda==0.5.3
scikit-learn==1.0.2
scipy==1.7.3
sdmetrics==0.4.1
sdv==0.14.0
seaborn==0.11.2
Send2Trash==1.8.0
sentencepiece==0.1.96
setproctitle==1.2.3
setuptools-scm==6.4.2
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
snappy==2.8
snappy-manifolds==1.1.2
sniffio==1.2.0
snowballstemmer==2.0.0
soupsieve==1.9.6
spherogram==1.8.3
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
stack-data==0.2.0
subprocess32==3.5.4
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
text-unidecode==1.3
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.11.0
torchaudio==0.7.2
torchmetrics==0.8.2
torchtext==0.6.0
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
txt2tags==3.7
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.25.11
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.7.2
zetup==0.2.64
zipp==1.2.0
